<button
  mat-flat-button
  type="button"
  routerLink="/home"
  routerLinkActive="mat-accent"
>
  <mat-icon class="material-symbols-outlined">{{ 'account_balance' }}</mat-icon>
  Home
</button>

<button
  mat-flat-button
  type="button"
  routerLink="/dashboard"
  routerLinkActive="mat-accent"
>
  <mat-icon class="material-symbols-outlined"> group </mat-icon>
  Accounts
</button>

<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  <mat-icon class="material-symbols-outlined"> sync_alt </mat-icon>
  Payment
</button>

<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  <mat-icon class="material-symbols-outlined"> payments </mat-icon>
  Loan
</button>
<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  <mat-icon class="material-symbols-outlined"> credit_card </mat-icon>
  Card
</button>

<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  Goverment Scheme
</button>

<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  Tax center
</button>

<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  Invest & Insure
</button>

<button
  mat-flat-button
  type="button"
  [routerLink="/payment"
  routerLinkActive="mat-accent"
>
  Bills and Utilities
</button>
<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  FX 4 U
</button>
<button
  mat-flat-button
  type="button"
  routerLink="/payment"
  routerLinkActive="mat-accent"
>
  <mat-icon class="material-symbols-outlined"> credit_card </mat-icon>
  Other Services
</button>
